section{
    padding-bottom: 2rem;
}

[class*="col"] {
    min-height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border: 1px solid white;
    color: white;
    background-color: #006cfa;
}

.row.nested{
    padding: .75rem;
}

[class*="col"].nested{
    border: 1px solid #006cfa;
    background-color: #00e165;
}